# Python
__pycache__/
*.pyc
*.log
.env
.venv/

# Logs
logs/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Data (if generated)
data/

# Great Expectations
great_expectations/uncommitted/
great_expectations/validations/

# CHANGELOG
CHANGELOG.md