# Core FastAPI server
fastapi
uvicorn[standard]

# F1 Data and Processing
fastf1==3.5.3
pandas
numpy
scikit-learn
statsmodels
pyarrow>=12

# HTTP Client
requests

# MLOps - Model Training & Tracking
lightgbm
optuna
mlflow
torch

# MLOps - Data Validation
great-expectations==0.17.21
airflow-provider-great-expectations==0.3.0


# MLOps - Feature Store
feast

# MLOps - Orchestration
apache-airflow
apache-airflow-providers-docker
pendulum
airflow-provider-great-expectations==0.3.0
# Plotting - Required by source project
matplotlib
seaborn